// body color
$body1-color:lightgray;
$body2-color:rgb(17, 16, 26);

//container color
$ct1-color: white;
$ct2-color:rgb(13, 11, 22);

//text color
$te1-color:black;
$te2-color:white;

//pro div color
$pro1-color:black;
$pro2-color:yellow;

//pro div text color
$tx1-color: white;
$tx2-color: black;

//img border
$pr1-color: black;
$pr2-color: rgb(0, 132, 255);

//btn git color
$git1-color: yellow;
$git2-color: rgb(0, 132, 255);

//git text color
$gt1-color: black;

//btn Linkedin color
$lb1-color: white;
$lb2-color:rgb(13, 11, 22);

//Linkedin border color
$bl1-color: black;
$bl2-color: rgb(0, 132, 255);

//Linkedin text color(a)
$tl1-color: black;
$tl2-color: rgb(0, 132, 255);

//developer color
$dev1-color: black;
$dev2-color: rgb(8, 8, 26);



